.data-table {
    .card {
        background: #fff;
        padding: 18px 15px;
        border-radius: 0px;
        border: none;

        .card-header {
            background: var(--white-bg);
            padding: 0px;
            border-bottom: 0;
            margin-bottom: 16px;

            h5 {
                margin-bottom: 0;
                font-size: 24px;
                font-weight: 500;
            }
            .custom-button {
                padding: 10px 16px;
                font-size: 14px;
                font-weight: 500;
                border: none;
                border-radius: 4px;
                line-height: 18px;
                border: 1px solid var(--primary-color);
                &:hover {
                    background: var(--white-color);
                    color: var(--primary-color);
                }
            }
        }
    }
}
