.tooltip-box {
    background-color: #090222;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    word-break: break-word;
    visibility: hidden;
    opacity: 0;
}

/* Tooltip shows with smooth delay + zoom effect */
.tooltip-container:hover .tooltip-box {
    visibility: visible;
    &.top {
        animation: tooltipShowTop 0.3s ease-out forwards;
        -webkit-animation: tooltipShowTop 0.3s ease-out forwards;
    }
    &.bottom {
        animation: tooltipShowBottom 0.3s ease-out forwards;
        -webkit-animation: tooltipShowBottom 0.3s ease-out forwards;
    }
    &.left {
        animation: tooltipShowLeft 0.3s ease-out forwards;
        -webkit-animation: tooltipShowLeft 0.3s ease-out forwards;
        text-align: right;
    }
    &.right {
        animation: tooltipShowRight 0.3s ease-out forwards;
        -webkit-animation: tooltipShowRight 0.3s ease-out forwards;
        text-align: left;
    }
}

/* Tooltip Arrow */
.tooltip-arrow {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
}

.tooltip-container .tpt-btn {
    position: relative;
    .tooltip-arrow-left {
        position: absolute;
        left: -8px;
        top: calc(50% - 0px);
        border-width: 8px 0 8px 8px;
        border-color: transparent transparent transparent #090222;
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
        &.active {
            animation: showArrowTIme 0.3s ease-out forwards;
            -webkit-animation: showArrowTIme 0.3s ease-out forwards;
        }
    }
    .tooltip-arrow-right {
        border-width: 8px 8px 8px 0;
        border-color: transparent #090222 transparent transparent;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        &.active {
            animation: showArrowTIme 0.3s ease-out forwards;
            -webkit-animation: showArrowTIme 0.3s ease-out forwards;
        }
    }
    .tooltip-arrow-bottom {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #090222 transparent;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        &.active {
            animation: showArrowTIme 0.3s ease-out forwards;
            -webkit-animation: showArrowTIme 0.3s ease-out forwards;
        }
    }
    .tooltip-arrow-top {
        border-width: 8px 8px 0 8px;
        border-color: #090222 transparent transparent transparent;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        &.active {
            animation: showArrowTIme 0.3s ease-out forwards;
            -webkit-animation: showArrowTIme 0.3s ease-out forwards;
        }
    }
}

@keyframes tooltipShowTop {
    from {
        opacity: 0;
        transform: scale(0.93) translateY(10px);
        -webkit-transform: scale(0.93) translateY(10px);
        -moz-transform: scale(0.93) translateY(10px);
        -ms-transform: scale(0.93) translateY(10px);
        -o-transform: scale(0.93) translateY(10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
        -webkit-transform: scale(1) translateY(0);
        -moz-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        -o-transform: scale(1) translateY(0);
    }
}

@keyframes tooltipShowBottom {
    from {
        opacity: 0;
        transform: scale(0.93) translateY(-10px);
        -webkit-transform: scale(0.93) translateY(-10px);
        -moz-transform: scale(0.93) translateY(-10px);
        -ms-transform: scale(0.93) translateY(-10px);
        -o-transform: scale(0.93) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes tooltipShowLeft {
    from {
        opacity: 0;
        transform: scale(0.93) translateX(10px);
        -webkit-transform: scale(0.93) translateX(10px);
        -moz-transform: scale(0.93) translateX(10px);
        -ms-transform: scale(0.93) translateX(10px);
        -o-transform: scale(0.93) translateX(10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes tooltipShowRight {
    from {
        opacity: 0;
        transform: scale(0.93) translateX(-10px);
        -webkit-transform: scale(0.93) translateX(-10px);
        -moz-transform: scale(0.93) translateX(-10px);
        -ms-transform: scale(0.93) translateX(-10px);
        -o-transform: scale(0.93) translateX(-10px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes showArrowTIme {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
